<% if(event.categories.length == 0){  %>
<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="menu icon"></i>
        No categories are added for this event.
    </div>
    <div class="ui primary button" onclick="openModal()">Add Category</div>
</div>
<% } else { %>
<div class="ui segment">
    <div class="ui basic segment">

        <div class="ui positive button" onclick="openModal()">Add Category</div>
    </div>
    <div class="ui cards">
        <% event.categories.forEach(function(category){ %>
        <div class="compact card">
            <div class="content">

                <div class="header">
                    <%= category.category_name %>
                </div>
                <div class="meta">
                    Group Size: <%= category.group_size %>
                </div>
                <div class="description">
                    Participation Fee: <%= category.amount %>
                </div>
            </div>
            <div class="extra content">
                <div class="ui basic red button">Delete Category</div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<% } %>


<script>
    selectedEvent = "<%= event._id %>";
    // function addCategory() {
    //     //event.preventDefault();
    //     console.log('Entered');
    //     if ($('#newCategoryAddForm').form('is valid')) {
    //         var category = {
    //             category_name: $('[name="category_name"]').val(),
    //             group_size:$('[name="group_size"]').val(),
    //             amount:$('[name="amount"]').val()
    //         };
    //         // document.querySelector('[name="category_name"]').value = '';
    //         // document.querySelector('[name="group_size"]').value = '';
    //         // document.querySelector('[name="amount"]').value = '';
    //        $('#newCategoryAddForm').form('reset');
    //        axios.post('/clubs/events/' + selectedEvent + '/addCategory',{data:category})
    //         .then((succ)=>{
    //             $('#store').html(succ.data);
    //         })
    //         .catch((err)=>{
    //             console.log(err);
    //         })
            
    //     }else 
    //         console.log("exit");
    // }
    function openModal() {
        $('#mainPage').addClass('loading');
        axios.get('/clubs/events/addCategoryModal')
        .then((response)=>{
            $('#store').append($.parseHTML(response.data,null,true));
            if($('#mainPage').hasClass('loading'))
                $('#mainPage').removeClass('loading');
        })
        .catch((err)=>{            
            if ($('#mainPage').hasClass('loading'))
                $('#mainPage').removeClass('loading');
            console.log(err);
        });
    }
</script>