<div class="ui raised segment">
    <h4 class="ui dividing header">
        Add New Category
    </h4>
    <form class="ui form">
        <div class="sixteen wide field required">
            <label> Category Name </label>
            <input type="text" name="category_name" />
        </div>
        <div class="sixteen wide field required">
            <label> Group Size </label>
            <input type="number" name="group_size" />
        </div>
        <div class="sixteen wide field required">
            <label> Amount </label>
            <input type="number" name="amount" />
        </div>
        <div class="inline">
            <button type="submit" class="ui positive button">Add Category</button>
            <button type="reset" class="ui negative button">Reset</button>
        </div>
    </form>
</div>