<div class="column ui segment">
    <div class="ui dividing header large blue">
        Event Creation Form
    </div>
    <div class="ui message red">
        <div class="header">
            Important things to remember
        </div>
        <li>
            Leave the Venue field blank if it is not decided
        </li>
        <li>
            Create the event at least before 2 days
        </li>
    </div>
    <form class="ui form">
        <div class="sixteen wide field required">
            <label>
                Event Name
            </label>
            <input type="text" placeholder="Event Name for e.g. Youth Vibe 2018" name="event_name" />
        </div>
        <div class="two fields">
            <div class="seven wide field required">
                <label>Start date</label>
                <input type="date" id="start_date" name="start_date" required />
            </div>
            <div class="six wide field required">
                <label>End date</label>
                <input type="date" id="end_date" name="end_date" required />
            </div>
        </div>
        <div class="sixteen wide field required">
            <label>
                Registration Deadline
            </label>
            <input type="date" name="reg_date" id="reg_date" required />
        </div>
        <div class="sixteen wide field">
            <label>
                Venue
            </label>
            <input type="text" name="venue" placeholder="Venue for e.g. Block 13 Room No 402" />
        </div>
        <div class="sixteen wide field required">
            <label>
                Prizes Worth
            </label>
            <input type="number" name="prizes_worth" placeholder="Enter the Amount of Prize Money" />
        </div>
        <div id="categories">
            <div class="ui segment" id="1">
                <div class="header medium ui dividing red"> Category </div>
                <div class="sixteen wide field required">
                    <label> Category Name </label>
                    <input type="text" name="category_name" required />
                </div>
                <div class="sixteen wide field required">
                    <label> Group Size </label>
                    <input type="number" name="group_size" min="1" max="5" required />
                </div>
                <div class="sixteen wide field required">
                    <label> Amount </label>
                    <input type="number" name="amount" required min="0" />
                </div>
                <div class="ui button red" onclick=remove(this)>
                    Remove
                </div>
            </div>
        </div>
        <div class="ui right labeled icon button orange" style="margin:10px;" id="addCat">

            Add Category <i class="icon plus circle"></i>
        </div>
        <div class="sixteen wide field">
            <label>
                Additional Instructions
            </label>
            <textarea name="misc_details">

            </textarea>
        </div>
        <button type="submit" id="eventForm" class="ui submit button primary">
            Create Event
        </button>
        <button type="reset" class="ui button red">
            Reset
        </button>
    </form>
</div>
<script src="/scripts/events/scripts/new-event.js">
</script>