<div class="ui inverted vertical footer segment"  style="margin-top:2rem !important; padding: 5em 0em !important;">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h3 class="ui inverted header">About</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Event Management</a>
                    <a href="#" class="item">Past Events</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui inverted header">Services</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">Plan Your Event</a>
                    <a href="#" class="item">Participate in Event</a>
                    <a href="#" class="item">Track Participants</a>
                    <a href="#" class="item">Nurture Talent</a>
                </div>
            </div>
            <div class="seven wide column">
                <h3 class="ui inverted header">LPU Colors @ Lovely Professional University</h3>
                <p>We provide event management solutions to the Organisations of our University..</p>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>