<!DOCTYPE html>
<html>
    <head>
        <title>
            LPU Colors
        </title>
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            Welcome to Landing page
        </div>
    </body>
</html>