<% include partials/header %>

</head>

<body>
    <div class="ui container">
        <div class="ui raised segment red">
           <div class="ui header aligned center">
               Session Expiration Notice
           </div>
           <p class="description">
               Your current session might have expired.
               Don't Worry.
               Login Again To Continue.
           </p>
           <a href="/student/login" class="ui button labeled icon negative">
            <i class="icon home">

            </i>
            Login
        </a>
        </div>
    </div>
</body>

</html>