<% include partials/header %>
    <style type="text/css">
        html
        {
            scroll-behavior: smooth;
        }
        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
            background-image:url('assets/images/banner.jpg') !important;
            background-size:cover !important;
        }


        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-top: 1.5em;
            margin-bottom: 0em;
            font-size: 4.1em;
            font-weight: bolder;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: bolder;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button+h3,
        .ui.vertical.stripe p+h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe .floated.image {
            clear: both;
        }

        .ui.vertical.stripe p {
            font-size: 1.33em;
        }

        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }

        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
        .ui.large
        {
            border:0px !important;
        }
        #black
        {
            color:black !important;
        }
    </style>

  
        <script>
        $(document)
            .ready(function () {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        
                        onBottomVisible: function () {
                            $('.fixed.menu').show();
                        },
                        onBottomPassed: function () {
                            $('.fixed.menu').show();
                        },
                        onBottomVisibleReverse: function () {
                            $('.fixed.menu').hide();
                        }
                    })
                    ;

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item')
                    ;

                    $('.ui.checkbox').checkbox();
            })
            ;
    </script>
</head>

<body>

    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item" href="#mast">LPU Colors</a>
            <a class="item" href="#about">About</a>
            <a class="item" href="#contact">Contact</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button" href="/student/login">Student Log In</a>
                </div>
                <div class="item">
                    <a class="ui primary button" href="/clubs/login">Club Log In </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item" href="#mast">LPU Colors</a>
        <a class="item" href="#about">About</a>
        <a class="item" href="#contact">Contact</a>
        <a class="item" href="/student/login">Student Log In</a>
        <a class="item" href="/clubs/login">Club Log In</a>
    </div>


    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment bann" id="mast">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    
                    <a class="item"><img src="/assets/images/logo5.png" class="ui medium image" /></a>
                    <a class="item header" href="#about">About</a>
                    <a class="item header" href="#contact">Contact</a>
                    <div class="right item">
                        <a class="ui button red" href="/student/login">Student Log In</a>
                        <a class="ui button black" href="/clubs/login">Club Log In</a>
                    </div>
                </div>
            </div>
           <br>
            <div class="ui text container">
                <h1 class="ui inverted header">
                    Showcase Your Talent!
                </h1>
                <h2 class="ui inverted header">Participate. Win. Celebrate. Repeat. <i class="bullhorn icon"></i></h2> 
                <br/>
                <a href="/student/login" class="ui massive primary button"> Participate! <i class="right arrow icon"></i></a>
            </div>

        </div>

        <div id="about" class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">We Help Students Showcase Talent</h3>
                        <p>
                            Students can now view the ongoing campus events and participate in them. Never miss an opportunity to win and brag about goodies. Come Participate.
                        </p>
                        <h3 class="ui header">Automate Event Management </h3>
                        <p>
                            All DSA Organisations heard it right. We provide you the best tools to digitise the mundane tasks of Event Mangement. Enjoy hassle free student registrations...
                        </p>
                    </div>
                    <div class="six wide right floated column">
                        <img src="assets/images/procession.jpg" class="ui large bordered rounded image">
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a class="ui huge button" href="/clubs/login">Want To Experience ? </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui vertical stripe quote segment inverted">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="column">
                        <h3>LPU Colors is a awesome product</h3>
                        <p>That is what they all say about us</p>
                    </div>
                    <div class="column">
                        <h3>The tasks which required immense man power are now a click away</h3>
                        <p>
                            <img src="assets/images/nan.jpg" class="ui avatar image"> <b>Dr. </b> DSA Head
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui text container">
                <h3 class="ui header">Making Conventional Event Management Smarter</h3>
                <p>
                    Instead of worrying about the logistics of event registrations the organisations are now free to enhance the quality of event.
                </p>
                
                <h4 class="ui horizontal header divider">
                    <a href="#">Student Feedback</a>
                </h4>
                <h3 class="ui header">What is the most interesting feature of LPU Colors?</h3>
                <p>
                    LPU Colors helps to register for the events happening in LPU. We never miss an event which embraces our talent. We can now register for events from anywhere without visiting the event co ordinators.
                </p>
               
            </div>
        </div>

        <div class="ui vertical segment stripe" id ="contact">
           <div class="ui text container">
               <h3 class="ui header">
                Get into Touch With Us
               </h3>
            <form class="ui form" method="POST" action="/admins/query">
                <div class="required field">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class=" required field">
                    <label>Email Id</label>
                    <input type="email" name="email" placeholder="Email Id">
                </div>
                <div class="required field">
                    <label>Query/Feedback</label>
                    <textarea name="feedback" cols="30" rows="3" placeholder="Enter Feedback/Query"></textarea>
                </div>
               
                <button class="ui positive button" type="submit">Submit</button>
                <button class="ui negative button" type="reset">Reset</button>
            </form>
            </div>
        </div>
<script>
    $(document).ready(function(){
        $('.ui.form').form({
            on:'change',
            inline:true,
            fields:{
                name:{
                    identifier:'name',
                    rules:[
                        {
                            type:'empty',
                            prompt:'Name not provided'
                        }
                    ]
                }
                ,
                email:{
                    identifier:'email',
                    rules:[
                        {
                            type:'empty',
                            prompt:'Email is required'
                        }
                        ,{
                            type:'email',
                            prompt:'Email is not valid'
                        }
                    ]
                }
                ,
                feedback:{
                    identifier:'feedback',
                    rules:[
                        {
                            type:'empty'
                        }
                    ]
                }
            }
        });
    });
</script>
<% include partials/footer %>