<!doctype html>
<html>
    <head>
        <title>
            LPU Colors - Add Event
        </title>

    </head>
    <body> 
        <div class="container">
            This is the Event Creation page
        </div>        
    </body>
</html>