<div class="ui info message">
    <div class="header">
        Important information
    </div>
    <p class="content">
        The team can be of maximum 5 members
    </p>
</div>
<form class="ui form">
    <div class="ui raised segment gray">
        <div class="ui dividing header">
            Create New Team
        </div>
        <div id="members">
            <div id="1">
                <div class="sixteen wide field required">
                    <label for="member_name">Member Name : </label>
                    <input type="text" name="member_name" />
                </div>
                <button type="button" class="ui button olive">Remove</button>
            </div>
        </div>

        <button type="submit" id="createNewTeam" class="ui button submit positive">
            Create New Team
        </button>
        <button class="ui button negative" type="reset">
            Reset
        </button>
    </div>
</form>