<% include ../partials/header %>

<style>
body{
background:url('/assets/images/wall.jpg') !important;
}
</style>

</head>

<body>
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="row">

            </div>
            <div class="row">

            </div>
            <div class="three column row">
                <div class="five wide column">

                </div>
                <div class="six wide column">
                    <% if( typeof message !== 'undefined') { %>
                        <div class="ui error message">
                            <h5 class="ui header">
                                <%= message %>
                            </h5>

                        </div>
                    <% } %>
                    <div class="ui raised segment teal">
                        <form class="ui form large" method="POST" action="/student/dashboard" id="logIn">
                            <h2 class="ui dividing header center aligned teal">
                                Student Log In
                            </h2>
                            <div class="sixteen wide field required">
                                <label for="username">
                                    Username
                                </label>
                                <input type="email" name="username" placeholder="for e.g. johnson@gmail.com " />
                            </div>
                            <div class="sixteen wide field required">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" name="password" placeholder="Enter password ... " />
                            </div>
                           <div class="ui list">
                               <div class="item">
                                   <div class="right floated content">
                                       <a href="#"> Forgot Password ? Click Here </a>
                                   </div>
                               </div>
                           </div>
                            <button type="submit" class="ui positive button submit fluid">
                                Log In
                            </button>
                           <br/>
                            <div class="three column row">
                                <div class="five wide column">
                                    <h5 class="ui header blue right floated">
                                        New Student ? Request Credentials
                                    </h5>
                                </div>
                                <div class="two wide column">

                                </div>
                                <br/>
                                <div class="eight wide column">
                                <a class="ui button olive fluid" href="/student/signup" id="signUp">
                                    Sign Up !
                                </a>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div clas="five wide column">

                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/students/scripts/login.js"></script>
    <% include ../partials/footer %>