<div class="ui block header">
    Feedbacks
</div>

<% if(feeds.length == 0) { %>
<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="calendar times icon"></i>
        No Past Events as of Now.
    </div>
</div>
<% } else { %>
<div class="ui cards">
    <% feeds.forEach(function(feed){ %>
        <div class="ui card">
            <div class="ui top attached black label">
                Event Review
            </div>
            <div class="content">
                <div class="ui icon header">
                    Rating: <%= feed.rating %> <i class="icon outline star"></i>
                </div>
                <div class="meta">
                    <%= feed.review %>
                </div>
            </div>
            <div class="extra content">
                <button type="button" class="ui button basic black" onclick="whichEvent('<%= feed.cat_id %>')">
                    Which Event ?
                </button>
            </div>
        </div>
    <% }) %>
</div>
<% } %>

<div class="ui mini modal" id="newTeam">
    <div class="content" >
        <h3 class="ui block header">

          Event Details
        </h3>
        <p id="app" class="meta">

        </p>
    </div>
    <div class="actions">
        <button class="deny cancel ui button red basic">
            Close
        </button>
    </div>
</div>

<script>
    function whichEvent(catId)
    {
        $('#mainPage').addClass('loading');
        axios.get('/student/whichEvent/' + catId)
       .then((response)=>{
            document.getElementById('app').innerHTML = 'Event Name: ' +response.data[0] + '<br>Category Name: ' + response.data[1];
            $('.ui.modal').modal('show');
       })
       .catch(err=>{
            console.log(err);
       });
       $('#mainPage').removeClass('loading');
    }
</script>