<div class="ui very padded container segment">
    <div class="ui horizontal divider header">
        Change Password
    </div>
    <div class="ui form">
        <div class="fields">
            <div class="fourteen wide required field">
                <label>
                    Old Password
                </label>
                <input type="password" name="old_password" placeholder="Old password" />
            </div>
            <div class="fourteen wide required field">
                <label>
                    New Password
                </label>
                <input type="password" name="new_password" placeholder="New Password "/>
            </div>
            <div class="fourteen wide required field">
            <label>
                Confirm Password
            </label>
            <input type="password" name="cnfm_password" placeholder="Confirm password"/>
            </div>
        </div>
        <div class="ui buttons fluid">
            <button class="ui button green basic" type="submit" onclick="pass()">
                Change Password 
            </button>
            
        </div>
    </div>
</div>

<script>
    $('.ui.form').form({
        on:'change',
        inline:true,
        fields:{
            old_password:{
                identifier:'old_password',
                rules:[
                    {
                        type:'empty'
                    },
                    {
                        type:'minLength[8]',
                        prompt:'Min length should be 8'
                    }

                ]
            },
            new_password: {
                identifier: 'new_password',
                rules: [
                    {
                        type: 'empty'
                    },
                    {
                        type: 'minLength[8]',
                        prompt: 'Min length should be 8'
                    }

                ]
            },
            cnfm_password: {
                identifier: 'cnfm_password',
                rules: [
                    {
                        type: 'empty'
                    },
                    {
                        type: 'minLength[8]',
                        prompt: 'Min length should be 8'
                    },
                    {
                        type:'match[new_password]',
                        prompt:'Passwords donot match'
                    }


                ]
            }
        }
    });

    function pass()
    {
        $("#mainPage").addClass('loading');
        if($('.ui.form').form('is valid')){
            console.log("valid");
            let data = {
                'old_password':$('[name="old_password"]').val(),
                'new_password': $('[name="new_password"]').val()
            }
        axios.post('/clubs/changePassword',data)
        .then((res)=>{
            console.log(res);
        })
        .catch(err=>{
            console.log(err);
        })
        $("#mainPage").removeClass('loading');
    }
    }

</script>