<form class="ui form" id="newClub" method="POST">
    <div class="ui raised segment olive">
        <div class="ui dividing header large">Add New Club</div>
        <div class="ui segment">

            <div class="thirteen wide field required">
                <label for="club_name">
                    Club Name
                </label>
                <input name="club_name" placeholder="Enter Name of Club" id="club_name" />
            </div>
            <div class="thirteen wide field required">
                <label for="username">
                    Email Id
                </label>
                <input type="email" name="username" placeholder="Enter email Id" id="username"
                    autocomplete="username" />
            </div>
            <div class="thirteen wide field required">
                <label for="ceo">
                    Chief Executive Officer
                </label>
                <input type="text" name="ceo" id="ceo" />
            </div>
            <div class="thirteen wide field required" style="margin-top: 10px !important">
                <label for="address">
                    Address
                </label>
                <textarea name="address" id="address" cols="30" rows="4"></textarea>
            </div>
            <div class="thirteen wide field required">
                <label for="found_date">Foundation Date </label>
                <input type="date" name="found_date" id="found_date" />
            </div>
            <div class="thirteen wide field required">
                <label for="password">
                    Password
                </label>
                <input type="password" name="password" id="password" autocomplete="current-password" />
            </div>
            <div class="thirteen wide field required">
                <label for="confirm_pwd">Confirm Password</label>
                <input type="password" name="confirm_pwd" id="confirm_pwd" autocomplete="current-password" />
            </div>
        </div>
        <button class="ui button positive submit" type="submit" id="newClubButton">Add Club</button>
        <button class="ui button negative" type="reset"> Reset </button>
    </div>
</form>
<script src="/scripts/clubs/scripts/clubNew.js">

</script>