<% if(events.length  == 0) { %>
<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="camera retro icon"></i>
        No Event is being conducted added Yet.
    </div>
</div>
<% } else  { %>
<div class="ui segment">
    <div class="ui stackable grid">

        <div class="five wide column">
            <select class="ui fluid search selection dropdown" id="getEvent">
                <div class="default text">Select Event </div>

                <% events.forEach(function(event){ %>
                    <% event.categories.forEach(function(category){ %>

                        <option value='<%= category._id %>'> <%= category.category_name %> / <%= event.event_name %></option>
                    <% }); %>
                <% }); %>

            </select>
        </div>
        <div class="seven wide column">

        </div>
        <div class="four wide column">

            <button type="button" class="ui basic teal button" onclick="getRegTeams()">Registered Teams</button>
        </div>
    </div>
</div>
<% } %>

<div class="ui basic segment" id="allTeam">

</div>

<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
    });
    function getRegTeams() {
        //event.preventDefault();
        $('#mainPage').addClass('loading');
        //console.log(event.value);
        console.log($('#getEvent').val());
        if ($('#getEvent').val())
            axios.get('/clubs/events/' + $('#getEvent').val() + '/registeredTeams')
                .then((response) => {
                    $('#allTeam').html(response.data);
                })
                .catch((err) => {
                    console.log(err);
                });
        $('#mainPage').removeClass('loading');
    }
</script>