* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

.banner
{
    background-size:cover;
    width:auto;
    height:100vh;
    position: relative;
    background-image:url("/assets/banner.jpg");
    filter:blur(0.8px);
    overflow-x:hidden;
}

.banner::after
{
    content:"";
    display: block;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.3;
    height:100%;
    width: 100%;
    background-color:black;
}

.custom-text
{
    color:whitesmoke;
    transform: translate(5%,320%);
}
