<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Dashboard - Student</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
        integrity="sha256-QVBN0oT74UhpCtEo4Ko+k3sNo+ykJFBBtGduw13V9vw=" crossorigin="anonymous" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"
        integrity="sha256-qs5p0BFSqSvrstBxPvex+zdyrzcyGdHNeNmAirO2zc0=" crossorigin="anonymous"></script>

    <script>
        $(document)
            .ready(function () {
                $('.ui.dropdown').dropdown();
                $('.ui.sticky')
                    .sticky({
                        context: '#events'
                    })
                    ;
            });
    </script>

</head>

<body>
    <div class="ui menu purple top large inverted">
        <div class="ui container">
            <a class="item header" href="#">LPU Colors </a>
            <a class="item active"><i class="home icon"></i> Home </a>
            <div class="right menu">
                <a class="item"><i class="user outline icon"></i> Hi <%= id.split('@')[0] %></a>
                <div class="item ui dropdown"><i class="icon bell"></i>Notifications <i class="ui dropdown icon"></i>

                    <div class="menu">
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                        <div class="ui section divider"></div>
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                        <div class="ui section divider"></div>
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                        <div class="ui section divider"></div>
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                        <div class="ui section divider"></div>
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                    </div>


                </div>
                <a class="item"><i class="sign out icon"></i> Sign Out</a>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="ui left rail four wide column">
            <div class="ui sticky" style="width: 100px !important; height:100px !important; left:20px !important;">
                <div class="ui card">
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others
                                for their tiny stature, and even others for their massive size.</p>
                            <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="check icon"></i>
                        121 Votes
                    </div>
                </div>
            </div>
        </div>
        <div id="events" class="ui twelve wide column">
        <div class="ui segment text fluid container">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Diam ut venenatis tellus in metus vulputate eu. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet.
            Id velit ut tortor pretium. Interdum velit euismod in pellentesque massa placerat duis. Amet volutpat consequat mauris
            nunc congue. Sem integer vitae justo eget magna fermentum. Vel eros donec ac odio tempor orci dapibus. Magna ac placerat
            vestibulum lectus mauris. Dui id ornare arcu odio. Ornare suspendisse sed nisi lacus sed viverra tellus in. Mauris in
            aliquam sem fringilla. Maecenas ultricies mi eget mauris pharetra et. Aliquet porttitor lacus luctus accumsan tortor
            posuere ac ut. Interdum varius sit amet mattis vulputate. Facilisis leo vel fringilla est. Facilisi cras fermentum odio
            eu feugiat. Enim blandit volutpat maecenas volutpat blandit aliquam. Egestas sed sed risus pretium quam.
        </div>
        <div class="ui segment text fluid container">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Diam ut venenatis tellus in metus vulputate eu. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit
            amet.
            Id velit ut tortor pretium. Interdum velit euismod in pellentesque massa placerat duis. Amet volutpat consequat
            mauris
            nunc congue. Sem integer vitae justo eget magna fermentum. Vel eros donec ac odio tempor orci dapibus. Magna ac
            placerat
            vestibulum lectus mauris. Dui id ornare arcu odio. Ornare suspendisse sed nisi lacus sed viverra tellus in. Mauris
            in
            aliquam sem fringilla. Maecenas ultricies mi eget mauris pharetra et. Aliquet porttitor lacus luctus accumsan tortor
            posuere ac ut. Interdum varius sit amet mattis vulputate. Facilisis leo vel fringilla est. Facilisi cras fermentum
            odio
            eu feugiat. Enim blandit volutpat maecenas volutpat blandit aliquam. Egestas sed sed risus pretium quam.
        </div>
        <div class="ui segment text container">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Diam ut venenatis tellus in metus vulputate eu. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit
            amet.
            Id velit ut tortor pretium. Interdum velit euismod in pellentesque massa placerat duis. Amet volutpat consequat
            mauris
            nunc congue. Sem integer vitae justo eget magna fermentum. Vel eros donec ac odio tempor orci dapibus. Magna ac
            placerat
            vestibulum lectus mauris. Dui id ornare arcu odio. Ornare suspendisse sed nisi lacus sed viverra tellus in. Mauris
            in
            aliquam sem fringilla. Maecenas ultricies mi eget mauris pharetra et. Aliquet porttitor lacus luctus accumsan tortor
            posuere ac ut. Interdum varius sit amet mattis vulputate. Facilisis leo vel fringilla est. Facilisi cras fermentum
            odio
            eu feugiat. Enim blandit volutpat maecenas volutpat blandit aliquam. Egestas sed sed risus pretium quam.
        </div>
        </div>
    </div>
    <% if(auth) { %>
    <script>
        localStorage.setItem('student_color', "<%- auth %>");
        axios.defaults.headers.common['Authorization'] = "Bearer " + "<%- auth %> ";

    </script>
    <% } %>
    <div class="ui container">
        <div class="ui card">
            <div class="content">
                <div class="header">Cute Dog</div>
                <div class="meta">2 days ago</div>
                <div class="description">
                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others
                        for their tiny stature, and even others for their massive size.</p>
                    <p>Many people also have their own barometers for what makes a cute dog.</p>
                </div>
            </div>
            <div class="extra content">
                <i class="check icon"></i>
                121 Votes
            </div>
        </div>
    </div>
</body>

</html>