<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="refresh" content="30">
        <link rel = "stylesheet" href="/stylesheets/index.css" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form id="login-form" method="POST" action="/student/login">
    <h1>Log In</h1>
    <label>Username </label>
    <input type="text"  name="username" autocomplete="username" placeholder="Username..."  required>
    <label>Password</label>
    <input type="password" name="password" autocomplete="current-password" placeholder="Password..."  required>
    <button class ="submit-btn1">Login</button>
    <p id="p1" style="color:whitesmoke;">Don't Have an Account<span id="login"><a href="/signup"target="_blank;"style="color:white;float:right">Sign Up</a></span></p>
</form>
</body>
</html>