<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <meta http-equiv="refresh" content="30">
    <link rel = "stylesheet" href="/stylesheets/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<form>
    <h1>Student Sign Up</h1>
    <label>Full Name</label>
    <input type="text" name="first name" placeholder="Full name..." required>
    <label>Registration Number</label>
    <input type="number" name="Registration number" placeholder ="Reg.no..." required>
    <label>Email</label>
    <input type="email" name="email" placeholder="Email..." required>
    <label> Password</label>
    <input type="password" name="password" placeholder="Password..."required>
    <label>Mobile No</label>
    <input type="number" name="mobile no" placeholder="Mobile no..." required>
    <button class ="submit-btn">Sign up</button>
</form>

</body>
</html>