<% include ../partials/header %>

</head>
<body>

    <div class="ui container">
        <div class="ui raised segment">

            Admin Page
            <%= auth %>
            <%= id %>
        </div>
    </div>

<% include ../partials/footer %>