<% include ../partials/header %>

</head>
<body>
    <div class="ui menu blue inverted large">
        <div class="ui container">
            <a class="item header" href="#">
                LPU Colors
            </a>
            <a class="active item" href="#">Home</a>
            <div class="right menu">
                <a class="item" href="#">
                    <i class="icon user"></i> Hi Admin
                </a>
                <a class="item" href="#"><i class="icon bell"></i> Notifications <i class="ui dropdown icon"></i></a>
                <a class="item" href="#"><i class="icon sign out"></i> Sign Out</a>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui raised segment">

            Admin Page
            <%= auth %>
            <%= id %>
            <a href="#" id="newClub" >Add New Club</a>
        </div>
                <div id="store">
                    
                </div>
    </div>

<script src="/scripts/admins/scripts/dashboard.js"></script>

<% include ../partials/footer %>