<% include ../partials/header %>
<style>
    body {
        background: url('/assets/images/wall.jpg') !important;
        /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
    }
</style>
</head>

<body>
    <div class="ui container">
        <div class="ui menu blue inverted large">
            <a class="item" href="#"><img class="ui small image" src="/assets/images/logo5.png" /> </a>

            <a class="active item" href="#">Home</a>
            <div class="right menu">
                <a class="item" href="#">
                    <i class="icon user"></i> Hi Admin
                </a>
                <a class="item" id="admin_signout" href="#"><i class="icon sign out"></i> Sign Out</a>
            </div>
        </div>
    </div>
    <form method="GET" action="/" id="formSignOut"></form>
    <div class="ui basic segment" id="mainPage">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="four wide column">
                    <div class="ui basic segment">

                        <div class="ui vertical menu">
                            <div class="item">
                                <div class="header">Students</div>
                                <div class="menu">
                                    <a class="item" id="viewAllStudents" href="#">
                                        All Students
                                    </a>
                                   
                                </div>
                            </div>
                           
                            <div class="item">
                                <div class="header">Clubs</div>
                                <div class="menu">
                                    <a href="#" class="item" id="viewAllClubs">
                                        View All Clubs
                                    </a>
                                    <a href="#" class="item" id="newClub">
                                        Add New Club
                                    </a>
                                   
                                </div>
                            </div>
                            <div class="item">
                                <div class="header">Events</div>
                                <div class="menu">
                                    <a href="#" class="item" id="viewAllEvents">
                                        View All Events
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header">Payments</div>
                                <div class="menu">
                                    <a href="#" class="item" id="viewSuccessTransactions">
                                        Successful Transactions
                                    </a>
                                    <a href="#" class="item" id="viewFailedTransactions">
                                        Failed Transactions
                                    </a>
                                    <a href="#" class="item" id="viewPendingTransactions">
                                        Pending Transactions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui basic segment" id="store">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <% if(auth) { %>
    <script>
        localStorage.setItem('__colors__', "<%- auth %>");
        axios.defaults.headers.common['Authorization'] = "Bearer " + "<%- auth %> ";

    </script>
    <% } %>

    <script src="/scripts/admins/scripts/dashboard.js"></script>

    <% include ../partials/footer %>